.MuiContainer-root {
  height: 100%;
}

.MuiGrid2-root {
  height: 100%;
  display: flex;
}

.padding {
  padding: 20px;
}

.poll-option-button {
  padding: 15px !important;
  text-transform: none !important;
}

#back-button,
#header-placeholder {
  width: 46px;
}

#back-button-icon {
  color: #1c2d52;
  height: 30px;
  width: 30px;
}

#card {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#card-container {
  background-image: linear-gradient(#191a1c, #1c2d52);
  margin: 0;
  max-width: none;
}

#header-container {
  padding: 20px;
  border-bottom: 1px solid #1c2d52;
  display: flex;
}

#header-text {
  flex: 1;
}

#poll-container,
#result-container {
  padding: 40px 20px;
  border-bottom: 1px solid #1c2d52;
  margin-bottom: 20px;
}

#poll-option-container {
  padding: 0 20px 20px 20px;
}

#result-option-bar {
  height: 54px;
  width: 100%;
  border-radius: 5px;
}

#result-option-container {
  position: relative;
  display: flex;
  padding: 0 20px 20px 20px;
}

#result-option-title {
  position: absolute;
  color: white;
  top: 15px;
  left: 35px;
}

#result-option-value {
  position: absolute;
  color: white;
  top: 15px;
  right: 35px;
}

#table-container {
  margin-top: 10px;
}
